* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.button {
  width: 150px;
  height: 40px;
  background: #FFE492;
  border-radius: 8px;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  width: 300px;
  height: 150px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  border-right: 20px;
}
.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
  margin-top: 0;
  color: #666;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
  border-right: 20px;
}
.popup .close:hover {
  opacity: 1;
}
.popup .content {
  max-height: 400px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}
.popup input {
  margin: 13px 0;
  border: none;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
  outline: none;
  width: 250px;
  height: 30px;
  padding: 0 10px;
  border-right: 20px;
}
.popup div button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  #title .title--work h1 {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: -0.02em;
    color: #212529;
    margin: 0 70px;
  }
  #green .green--title h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0 60px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
  #header .header--nav select {
    display: none;
  }
}
@media (max-width: 992px) {
  #header .header--nav select {
    display: none;
  }
  #title .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    flex-wrap: wrap;
  }
  #title .title--work p {
    width: 670px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #212529;
    padding: 10px 40px 40px 0;
    text-align: center;
  }
  #data .data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  #header .header--nav select {
    display: none;
  }
  #hero .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    flex-wrap: wrap;
  }
  #hero .hero--block {
    width: 445px;
    height: 300px;
    background: #C4DEFD;
    margin: 30px 0;
  }
  #title .title--work h1 {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: -0.02em;
    color: #212529;
    margin: 20px;
  }
  #title .title--work button {
    width: 186px;
    height: 50px;
    border: none;
    background: #4F9CF9;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-left: 200px;
  }
  #title .title--work p {
    width: 670px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #212529;
    padding: 10px 40px 40px 0;
    margin-left: -40px;
  }
  #about .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    flex-wrap: wrap;
  }
  #about .about--block {
    width: 445px;
    height: 300px;
    background: #C4DEFD;
    margin: 30px 0;
  }
  #general .general {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #general .general--title {
    width: 445px;
    height: 300px;
    background: #C4DEFD;
    margin: 30px 0;
  }
  #block .block {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #work .work--block h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }
  #data .data--block div img {
    width: 500px;
    height: 300px;
    margin: 40px 0;
  }
  #data .data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #sponsors .sponsors--block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    flex-direction: column;
  }
  #sponsors .sponsors--block img {
    transition: 0.4s;
    cursor: pointer;
    margin: 28px 0;
  }
  #green .green {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #green .green--title button {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    transition: 0.4s;
    cursor: pointer;
    border: none;
    width: 195px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 8px;
    margin-left: 100px;
  }
  #footer .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    padding: 100px 0;
  }
  #footer .footer--one h1 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 10px 0;
    padding-top: 60px;
  }
  #footer .footer--foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  #header .header--nav select {
    display: none;
  }
}
@media (max-width: 451px) {
  #header .header--nav select {
    display: none;
  }
}
@media (max-width: 414px) {
  #header .header--nav select {
    display: none;
  }
}
@media (max-width: 400px) {
  #header .header--nav select {
    display: none;
  }
}
@media (max-width: 375px) {
  #header .header--nav select {
    display: none;
  }
}
@media (max-width: 320px) {
  #header .header--nav select {
    display: none;
  }
}

/*# sourceMappingURL=media.css.map */
