* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.button {
  width: 150px;
  height: 40px;
  background: #FFE492;
  border-radius: 8px;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  width: 300px;
  height: 150px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  border-right: 20px;
}
.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
  margin-top: 0;
  color: #666;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
  border-right: 20px;
}
.popup .close:hover {
  opacity: 1;
}
.popup .content {
  max-height: 400px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}
.popup input {
  margin: 13px 0;
  border: none;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
  outline: none;
  width: 250px;
  height: 30px;
  padding: 0 10px;
  border-right: 20px;
}
.popup div button {
  padding: 15px 60px;
  background: #4F9CF9;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.popup div button:hover {
  background: transparent;
  color: #4F9CF9;
  border: 2px solid #4F9CF9;
}

#header {
  background: rgba(255, 255, 255, 0.76);
  width: 100%;
  height: 70px;
  z-index: 99;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
#header .header--nav select {
  margin: 20px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  border: none;
  background: transparent;
  color: #4F9CF9;
}
#header .header--btn {
  display: flex;
  align-items: center;
}
#header .header--btn button {
  margin: 0 10px;
  width: 200px;
  height: 40px;
  background: #4F9CF9;
  border-radius: 8px;
  border: none;
  transition: 0.4s;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
#header .header--btn button:hover {
  background: transparent;
  color: #4F9CF9;
  border: 2px solid #4F9CF9;
}
#header .header--btn__br button {
  width: 80px;
  height: 40px;
  background: #FFE492;
  border-radius: 8px;
  border: none;
}
#header .header--btn__br button:hover {
  background: transparent;
  color: #FFE492;
  border: 2px solid #FFE492;
}

#hero .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
#hero .hero--title h1 {
  width: 656px;
  height: 154px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  color: #4F9CF9;
}
#hero .hero--title p {
  width: 656px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #4F9CF9;
  padding: 25px 0;
}
#hero .hero--title button {
  padding: 15px 60px;
  background: #4F9CF9;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
#hero .hero--title button:hover {
  background: transparent;
  color: #4F9CF9;
  border: 2px solid #4F9CF9;
}
#hero .hero--block {
  width: 450px;
  height: 300px;
  background: #C4DEFD;
}

#title .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
#title .title--block {
  position: relative;
  width: 460px;
  height: 460px;
  left: 35px;
  top: 0;
  border-radius: 50%;
  border: 2px dashed #A7CEFC;
}
#title .title--block__one {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 70px;
  top: 10px;
  border-radius: 50%;
  background: #FFDC4D;
}
#title .title--block__two {
  position: absolute;
  width: 60px;
  height: 60px;
  left: -25px;
  top: 198px;
  border-radius: 50%;
  background: #FF5758;
}
#title .title--block__three {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 60px;
  top: 380px;
  border-radius: 50%;
  background: #37A3FF;
}
#title .title--block__four {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 390px;
  top: 71px;
  border-radius: 50%;
  background: #37A3FF;
}
#title .title--block__fif {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 400px;
  top: 310px;
  border-radius: 50%;
  background: #00CA75;
}
#title .title--block__line {
  position: relative;
  width: 300px;
  height: 300px;
  left: 80px;
  top: 80px;
  border-radius: 50%;
  border: 2px dashed #A7CEFC;
}
#title .title--block__line--one {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 125px;
  top: -25px;
  border-radius: 50%;
  background: #00CA75;
}
#title .title--block__line--two {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 120px;
  top: 267px;
  border-radius: 50%;
  background: #FFBF60;
}
#title .title--block__line--three {
  position: absolute;
  width: 60px;
  height: 60px;
  left: -25px;
  top: 115px;
  border-radius: 50%;
  background: #37A3FF;
}
#title .title--block__line--four {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 200pt;
  top: 130px;
  border-radius: 50%;
  background: #37A3FF;
}
#title .title--block__line--img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 116px;
  top: 121px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px -11px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
#title .title--work h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
  color: #212529;
}
#title .title--work p {
  width: 670px;
  height: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 20px 0;
}
#title .title--work button {
  width: 186px;
  height: 50px;
  border: none;
  background: #4F9CF9;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
#title .title--work button:hover {
  background: transparent;
  border: 2px dashed #37A3FF;
  color: #37A3FF;
}

#about .about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
#about .about--title h1 {
  width: 656px;
  height: 154px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  color: #4F9CF9;
}
#about .about--title p {
  width: 656px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #4F9CF9;
  padding: 25px 0;
}
#about .about--title button {
  padding: 15px 60px;
  background: #4F9CF9;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
#about .about--title button:hover {
  background: transparent;
  color: #4F9CF9;
  border: 2px solid #4F9CF9;
}
#about .about--block {
  width: 450px;
  height: 300px;
  background: #C4DEFD;
}

/*# sourceMappingURL=style.css.map */
