* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width:90%;
  margin: 0 auto;
}

//mixins

@mixin btn {
  padding: 15px 50px;
  background: #4F9CF9;
  border-radius: 8px;
  color: #ffff;
  border: none;
  cursor: pointer;
  transition: .4s;
  &:hover {
    background: transparent;
    color: #4F9CF9;
    border: 2px solid #4F9CF9;
  }
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//mixins


#wrapper {

}

.button {
  width: 150px;
  height: 40px;
  background: #FFE492;
  border-radius: 8px;
  border: none;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;

  &.light {
    background: rgba(255, 255, 255, 0.5);
  }

  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  width: 300px;
  height: 150px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  border-right: 20px;

  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  h2 {
    margin-top: 0;
    color: #666;
  }

  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    border-right: 20px;

    &:hover {
      opacity: 1;
    }
  }

  .content {
    max-height: 400px;
    overflow: auto;
  }

  p {
    margin: 0 0 1em;

    &:last-child {
      margin: 0;
    }
  }

  input {
    margin: 13px 0;
    border: none;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
    outline: none;
    width: 250px;
    height: 30px;
    padding: 0 10px;
    border-right: 20px;
  }

  div {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 30px;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}


//
//*,
//*::before,
//*::after {
//  margin: 0;
//  padding: 0;
//  box-sizing: inherit;
//}
//
//html {
//  box-sizing: border-box;
//  font-family: sans-serif;
//  font-size: 10px;
//}
//
//
//
//.nav-bar {
//  position: absolute;
//  background-color: #122;
//  top: 0;
//  right: 100%;
//  height: 100vh;
//  width: 250px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  transition: position 2.9s;
//  -webkit-transition: position 2.9s;
//  -moz-transition: position 2.9s;
//  -ms-transition: position 2.9s;
//  -o-transition: position 2.9s;
//}
//
//.toggle {
//  left: 0;
//  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
//
//}
//
//.toggle-menu {
//  background-color: rgba(0, 0, 0, 0.2);
//  position: fixed;
//  top: 20px;
//  right: 20px;
//  width: 40px;
//  height: 30px;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-around;
//  padding: 2px 2px 2px 3px;
//  border-radius: 5px;
//  cursor: pointer;
//  -webkit-border-radius: 5px;
//  -moz-border-radius: 5px;
//  -ms-border-radius: 5px;
//  -o-border-radius: 5px;
//}
//
//.line {
//  width: 100%;
//  height: 3px;
//  border-radius: 5px;
//  background-color: #fff;
//  transition: transform 0.2s ease-out;
//  -webkit-transition: transform 0.2s ease-out;
//  -moz-transition: transform 0.2s ease-out;
//  -ms-transition: transform 0.2s ease-out;
//  -o-transition: transform 0.2s ease-out;
//}
//
//.toggle .line1 {
//  background-color: #000000;
//  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
//}
//
//.toggle .line2 {
//  display: none;
//}
//
//.toggle .line3 {
//  background-color: #000000;
//  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
//}
//
//.toggle .toggle-menu {
//  background-color: white;
//}
//
//.nav-list {
//  list-style: none;
//}
//
//.nav-list-item {
//  text-align: center;
//  padding: 10px 0;
//}
//
//.nav-link {
//  color: #fff;
//  font-size: 22px;
//  text-decoration: none;
//  position: relative;
//  padding-bottom: 4px;
//}
//
//.nav-link::before {
//  position: absolute;
//  content: '';
//  left: 0;
//  bottom: 0;
//  width: 100%;
//  height: 1px;
//  background-color: #fff;
//  transform: scaleX(0);
//  transition: transform 0.4s ease-in-out;
//  transform-origin: left;
//  -webkit-transition: transform 0.4s ease-in-out;
//  -moz-transition: transform 0.4s ease-in-out;
//  -ms-transition: transform 0.4s ease-in-out;
//  -o-transition: transform 0.4s ease-in-out;
//}
//
//.nav-link:hover::before {
//  transform: scaleX(1);
