@import "global";

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .container{
    width: 90%;
  }
  #title {
    .title--work h1 {
      font-weight: 700;
      font-size: 72px;
      letter-spacing: -0.02em;
      color: #212529;
      margin: 0 70px;
    }
  }
  #green {
    .green--title h1 {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      margin: 0 60px;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
  #header .header--nav select {
    display: none;
  }
}

@media (max-width: 992px) {
  #header .header--nav select {
    display: none;
  }
  #title .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    flex-wrap: wrap;
  }
  #title .title--work p {
    width: 670px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #212529;
    padding: 10px 40px 40px 0;
    text-align: center;
  }
  #data .data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  #header .header--nav select {
    display: none;
  }
  #hero .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    flex-wrap: wrap;
  }
  #hero .hero--block {
    width: 445px;
    height: 300px;
    background: #C4DEFD;
    margin: 30px 0;
  }
  #title .title--work h1 {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: -0.02em;
    color: #212529;
    margin: 20px;
  }
  #title .title--work button {
    width: 186px;
    height: 50px;
    border: none;
    background: #4F9CF9;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-left: 200px;
  }
  #title .title--work p {
    width: 670px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #212529;
    padding: 10px 40px 40px 0;
    margin-left: -40px;
  }
  #about .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    flex-wrap: wrap;
  }
  #about .about--block {
    width: 445px;
    height: 300px;
    background: #C4DEFD;
    margin: 30px 0;
  }
  #general .general {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #general .general--title {
    width: 445px;
    height: 300px;
    background: #C4DEFD;
    margin: 30px 0;
  }
  #block .block {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #work .work--block h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }
  #data .data--block div img {
    width: 500px;
    height: 300px;
    margin: 40px 0;
  }
  #data .data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #sponsors .sponsors--block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    flex-direction: column;
  }
  #sponsors .sponsors--block img {
    transition: 0.4s;
    cursor: pointer;
    margin: 28px 0;
  }
  #green .green {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #green .green--title button {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    transition: 0.4s;
    cursor: pointer;
    border: none;
    width: 195px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 8px;
    margin-left: 100px;
  }
  #footer .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    padding: 100px 0;
  }
  #footer .footer--one h1 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 10px 0;
    padding-top: 60px;
  }
  #footer .footer--foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  #header .header--nav select {
    display: none;
  }

}

@media (max-width: 451px) {
  #header .header--nav select {
    display: none;
  }

}

@media (max-width: 414px) {
  #header .header--nav select {
    display: none;
  }

}

@media (max-width: 400px) {
  #header .header--nav select {
    display: none;
  }

}

@media (max-width: 375px) {
  #header .header--nav select {
    display: none;
  }

}

@media (max-width: 320px) {
  #header .header--nav select {
    display: none;
  }


}