@import "global";


#header {
  background: #ffffff;
  width: 100%;
  position: fixed;
  height: 70px;
  z-index: 99;

  .header {
    @include flex;
    padding: 10px;

    &--nav {
      select {
        margin: 20px;
        outline: none;
        font-weight: 500;
        font-size: 18px;
        border: none;
        background: transparent;
        color: #4F9CF9;
      }
    }

    &--btn {
      display: flex;
      align-items: center;

      button {
        margin: 0 10px;
        width: 150px;
        height: 40px;
        background: #4F9CF9;
        border-radius: 8px;
        border: none;
        transition: .4s;
        cursor: pointer;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        &:hover {
          background: transparent;
          color: #4F9CF9;
          border: 2px solid #4F9CF9;
        }
      }

      &__br {
        button {
          width: 80px;
          height: 40px;
          background: #FFE492;
          border-radius: 8px;
          border: none;

          &:hover {
            background: transparent;
            color: #FFE492;
            border: 2px solid #FFE492;
          }
        }
      }
    }
  }
}

#hero {
  .hero {
    @include flex;
    padding: 100px 0;

    &--title {
      h1 {
        width: 656px;
        height: 154px;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        letter-spacing: -0.02em;
        color: #4F9CF9;
      }

      p {
        width: 656px;
        height: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #4F9CF9;
        padding: 25px 0;

      }

      button {
        @include btn;
      }
    }

    &--block {
      width: 445px;
      height: 300px;
      background: #C4DEFD;
    }
  }
}

#title {
  .title {
    @include flex;
    padding: 50px 0;

    &--block {
      position: relative;
      width: 400px;
      height: 400px;
      left: 35px;
      top: 0;
      border-radius: 50%;
      border: 2px dashed #A7CEFC;

      &__one {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 60px;
        top: 5px;
        background: #FFDC4D;
        border-radius: 50%;
      }

      &__two {
        position: absolute;
        width: 60px;
        height: 60px;
        left: -30px;
        top: 198px;
        border-radius: 50%;
        background: #FF5758;
      }

      &__three {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 60px;
        top: 340px;
        border-radius: 50%;
        background: #37A3FF;
      }

      &__four {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 348px;
        top: 71px;
        border-radius: 50%;
        background: #37A3FF;
      }

      &__fif {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 340px;
        border-radius: 50%;
        top: 280px;
        background: #00CA75;
      }

      &__line {
        position: relative;
        width: 250px;
        height: 250px;
        left: 80px;
        top: 80px;
        border-radius: 50%;
        border: 2px dashed #A7CEFC;

        &--one {
          position: absolute;
          width: 60px;
          height: 60px;
          left: 100px;
          border-radius: 50%;
          top: -25px;
          background: #00CA75;
        }

        &--two {
          position: absolute;
          width: 60px;
          height: 60px;
          left: 100px;
          top: 220px;
          border-radius: 50%;
          background: #FFBF60;
        }

        &--three {
          position: absolute;
          width: 60px;
          height: 60px;
          left: -25px;
          top: 115px;
          border-radius: 50%;
          background: #37A3FF;
        }

        &--four {
          position: absolute;
          width: 60px;
          height: 60px;
          left: 160pt;
          top: 120px;
          border-radius: 50%;
          background: #37A3FF;
        }

        &--img {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 70px;
          height: 70px;
          left: 90px;
          top: 100px;
          background: #FFFFFF;
          box-shadow: 5px 3px 0 0 rgba(0, 0, 0, 0.27);
          border-radius: 10px;
        }
      }
    }

    &--work {

      h1 {
        font-weight: 700;
        font-size: 72px;
        letter-spacing: -0.02em;
        color: #212529;
      }

      p {
        width: 670px;
        height: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #212529;
        padding:10px 40px 40px 0;
      }

      button {
        width: 186px;
        height: 50px;
        border: none;
        background: #4F9CF9;
        cursor: pointer;
        transition: .4s;
        border-radius: 6px;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        &:hover {
          background: transparent;
          border: 2px dashed #37A3FF;
          color: #37A3FF;
        }
      }
    }
  }
}

#about {
  .about {
    @include flex;
    padding: 30px 0;

    &--title {
      h1 {
        width: 656px;
        height: 154px;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        letter-spacing: -0.02em;
        color: #4F9CF9;
      }

      p {
        width: 656px;
        height: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #4F9CF9;
        padding: 25px 0;

      }

      button {
        @include btn;
      }
    }

    &--block {
      width: 445px;
      height: 300px;
      background: #C4DEFD;
    }
  }
}

#general {
  .general {
    @include flex;

    &--block {
      h1 {
        width: 697px;
        height: 174px;
        font-weight: 700;
        font-size: 72px;
        line-height: 87px;
        letter-spacing: -0.02em;
        color: #212529;
      }

      p {
        width: 697px;
        height: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #212529;
        padding: 10px 0;
      }

      button {
        width: 156px;
        height: 50px;
        border: none;
        background: #4F9CF9;
        border-radius: 6px;
        cursor: pointer;
        transition: .4s;

        &:hover {
          background: transparent;
          color: #37A3FF;
          border: 2px solid #37A3FF;
        }
      }
    }

    &--title {
      width: 445px;
      height: 300px;
      background: #C4DEFD;
    }
  }
}

#block {

  div {
    padding: 50px 0;

    h4 {
      font-weight: 700;
      font-size: 72px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #212529;
    }

    h5 {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #212529;
    }
  }

  .block {

    padding: 50px 0;
    display: flex;;
    align-items: center;
    justify-content: space-between;

    &--title {
      width: 370px;
      height: 530px;
      background: #FFFFFF;
      border: 1px solid #FFE492;
      border-radius: 10px;
      padding: 40px 10px;
      transition: .5s;

      &:hover {
        transform: scale(1.1);
        background: #FFFFFF;
        border: none;
        box-shadow: 0px 4px 50px -11px #043873
      }


      h1 {
        font-weight: 600;
        font-size: 24px;
        color: #212529;
        padding: 0 15px;

      }

      h2 {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: -0.02em;
        color: #212529;
        padding: 0 15px;
        margin: 15px 0 15px;
      }

      h3 {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #212529;
        margin: 10px 20px;
        padding: 10px 0 20px;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 15px;

        p {
          font-weight: 400;
          font-size: 16px;
          letter-spacing: -0.02em;
          color: #212529;
          margin: 15px 15px;
        }
      }

      button {
        width: 166px;
        height: 51px;
        background: #FFFFFF;
        border-radius: 8px;
        border: 1px solid #FFE492;
        transition: .4s;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #212529;
        margin: 0 15px;

        &:hover {
          background: #37A3FF;
          color: #FFFFFF;
        }
      }
    }

    &--work {
      width: 370px;
      height: 530px;
      background: #FFFFFF;
      border: 1px solid #FFE492;
      border-radius: 10px;
      padding: 40px 10px;
      transition: .5s;
      margin: 20px 20px;

      &:hover {
        transform: scale(1.1);
        background: #FFFFFF;
        border: none;
        box-shadow: 0px 4px 50px -11px #043873

      }

      h1 {
        font-weight: 600;
        font-size: 24px;
        color: #043873;
        padding: 0 15px;

      }

      h2 {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: -0.02em;
        color: #043873;
        padding: 0 15px;
        margin: 15px 0 15px;
      }

      h3 {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #043873;
        margin: 10px 20px;
        padding: 10px 0 20px;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 15px;

        p {
          font-weight: 400;
          font-size: 16px;
          letter-spacing: -0.02em;
          color: #043873;
          margin: 15px 15px;
        }

        a {
          color: #043873;
        }
      }

      button {
        width: 166px;
        height: 51px;
        background: #FFFFFF;
        border-radius: 8px;
        border: 1px solid #FFE492;
        transition: .4s;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #212529;
        margin: 0 15px;

        &:hover {
          background: #37A3FF;
          color: #FFFFFF;
        }
      }
    }

    &--left {
      width: 370px;
      height: 530px;
      background: #FFFFFF;
      border: 1px solid #FFE492;
      border-radius: 10px;
      padding: 40px 10px;
      transition: .5s;

      &:hover {
        transform: scale(1.1);
        background: #FFFFFF;
        border: none;
        box-shadow: 0px 4px 50px -11px #043873
      }

      h1 {
        font-weight: 600;
        font-size: 24px;
        color: #212529;
        padding: 0 15px;

      }

      h2 {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: -0.02em;
        color: #212529;
        padding: 0 15px;
        margin: 15px 0 15px;
      }

      h3 {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #212529;
        margin: 10px 20px;
        padding: 10px 0 20px;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 15px;

        p {
          font-weight: 400;
          font-size: 16px;
          letter-spacing: -0.02em;
          color: #212529;
          margin: 15px 15px;
        }
      }

      button {
        width: 166px;
        height: 51px;
        background: #FFFFFF;
        border-radius: 8px;
        border: 1px solid #FFE492;
        transition: .4s;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #212529;
        margin: 0 15px;

        &:hover {
          background: #37A3FF;
          color: #FFFFFF;
        }
      }
    }


  }
}

#work {
  width: 100%;
  height: 330px;
  background: #043873;

  .work {
    &--block {
      padding: 50px 0;

      h1 {
        font-weight: 700;
        font-size: 70px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        padding: 15px 15px;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          font-weight: 500;
          font-size: 18px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          transition: .4s;
          cursor: pointer;
          border: none;
          width: 195px;
          height: 63px;
          background: #4F9CF9;
          border-radius: 8px;

          &:hover {
            background: transparent;
            border: 2px solid #37A3FF;
            color: #37A3FF;
          }
        }
      }

    }
  }
}

#data {
  padding: 70px 0;

  .data {
    @include flex;

    &--title {

      h1 {
        font-weight: 700;
        font-size: 72px;
        letter-spacing: -0.02em;
        color: #212529;
      }

      p {
        width: 655px;
        height: 90px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #212529;
        padding: 40px 0;
      }

      button {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        width: 180px;
        height: 50px;
        border: none;
        transition: .4s;
        cursor: pointer;
        background: #4F9CF9;
        border-radius: 8px;
        color: #FFFFFF;

        &:hover {
          background: transparent;
          color: #37A3FF;
          border: 2px solid #37A3FF;
        }
      }
    }

    &--block {
      div {
        img {
          width: 500px;
          height: 300px;
        }
      }
    }
  }
}

#sponsors {
  .sponsors {
    h1 {
      font-weight: 700;
      font-size: 72px;
      text-align: center;
      letter-spacing: -0.02em;
      padding: 50px 0;
    }

    &--block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0;

      img {
        transition: .4s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

#green {
  width: 100%;
  height: 560px;
  background: #043873;
  position: relative;

  .green {

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--block {
      padding: 30px 0;

      &__go {
        position: absolute;
        left: -200px;
        top: 70px;

        img {
          border-radius: 50%;
        }
      }

      &__lamp {
        position: absolute;
        left: 165px;
        top: 75px;

        img {
          border-radius: 50%;
        }
      }


      &__mr {
        position: absolute;
        left: -20px;
        top: 120px;

        img {
          border-radius: 50%;
        }
      }

      &__one {
        position: relative;
        width: 200px;
        height: 200px;
        left: 30px;
        top: 240px;
        border: 2px dashed #4F9CF9;
        border-radius: 50%
      }

      &__two {
        position: relative;
        width: 200px;
        height: 200px;
        left: 200px;
        top: 40px;
        border: 2px dashed #4F9CF9;
        border-radius: 50%
      }

      &__three {
        position: relative;
        width: 200px;
        height: 200px;
        left: 110px;
        top: -300px;
        border: 2px dashed #4F9CF9;
        border-radius: 50%;

        &--top {
          position: absolute;
          left: 60px;
          top: -35px;

          img {
            border-radius: 50%;
          }
        }

        &--wor {
          position: absolute;
          left: 165px;
          top: 100px;

          img {
            border-radius: 50%;
          }
        }

        &--pop {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 70px;
          top: 140px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #FFFFFF;

        }

        &--ice {
          position: absolute;
          left: -40px;
          top: 90px;

          img {
            border-radius: 50%;
          }
        }
      }

    }

    &--title {
      h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }

      p {

        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        padding: 20px 0;
      }

      button {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        transition: .4s;
        cursor: pointer;
        border: none;
        width: 195px;
        height: 63px;
        background: #4F9CF9;
        border-radius: 8px;

        &:hover {
          background: transparent;
          border: 2px solid #37A3FF;
          color: #37A3FF;
        }
      }
    }

  }
}

#swiper {

  .swiper {
    padding: 80px 0;

    h1 {
      font-weight: 700;
      font-size: 72px;
      line-height: 87px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #212529;

    }

    &--block {
      width: 472px;
      height: 480px;
      background: #FFFFFF;
      border-radius: 10px;
      box-shadow: 0 0 20px #000;

      img {
        padding: 30px 50px;
      }

      P {
        padding: 0 50px;
        width: 350px;
        height: 150px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #01252A;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h1 {
          font-weight: 700;
          font-size: 18px;
          letter-spacing: -0.02em;
          color: #01252A;
          padding: 20px 0;
        }
      }

      h3 {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #01252A;
        padding: 0 50px;
      }
    }

    &--one {
      width: 472px;
      height: 480px;
      background: #4F9CF9;
      border-radius: 10px;

      img {
        padding: 30px 50px;
      }

      P {
        padding: 0 50px;
        width: 350px;
        height: 150px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h1 {
          font-weight: 700;
          font-size: 18px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          padding: 20px 0;
        }
      }

      h3 {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        padding: 0 50px;
      }
    }
  }
}

#footer {
  background: #043873;
  width: 100%;
  height: 480px;

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;

    &--title {
      width: 240px;
      height: 120px;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: -0.02em;
      line-height: 30px;
      color: #F7F7EE;

      div {
        display: flex;

        h2 {
          font-weight: 700;
          font-size: 28px;
          color: #FFFFFF;
          margin: 0 10px;
        }
      }
    }

    &--one {

      h1 {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        padding: 10px 0;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        padding: 10px 10px;
        cursor: pointer;
        transition: .3s;

        &:hover {
          transform: scale(1.1);
          color: #ffe37b;
        }
      }

      button {
        padding: 15px 50px;
        border: none;
        transition: .4s;
        cursor: pointer;
        background: #4F9CF9;
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        &:hover {
          background: transparent;
          color: #4F9CF9;
          border: 2px solid #4F9CF9;
        }
      }
    }
  }

  .footer--line {
    border: 1px solid #2E4E73;
    width: 100%;

  }

  .footer--foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;

    &__select {
      select {
        outline: none;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        background: none;
        border: none;
      }

      a {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin: 0 15px;
        transition: .4s;

        &:hover {
          color: #e39238;
          transform: scale(1.1);
          text-decoration-line: underline;
        }
      }
    }

    &__icon {
      a {
        color: #FFFFFF;
        margin: 0 10px;
        transition: .3s;
        cursor: pointer;

        &:hover {
          color: #00CA75;
          transform: scale(1.1);
        }
      }
    }
  }
}
